.courseCode {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    vertical-align: bottom;
    border-radius: 5px;
    margin: 0px;
    background-color: lightblue;
}

.Collapsible__contentInner {
    padding: 1vh;
}

.Collapsible {
    border: 2px solid gray;
    border-radius: 6px;
    transition-delay: 200;
}

.courseCode:hover {
    background-color: lightgrey;
}