h2 {
    margin-top: 0px;
}

h1 {
    text-align: center;
    vertical-align: bottom;
    border-radius: 5px;
    margin: 0px;
    background-color: lightblue;
    border: 2px solid gray;
}

.collapsible {
    border: 2px solid gray;
}

h1:hover {
    background-color: lightgrey;
}