.courseCode {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: white;
    vertical-align: bottom;
    border-radius: 5px;
    margin: 0px;
    background-color: #0055A2;
}

.courseCode:hover {
    color: #E5A823;
}

.Collapsible__contentInner {
    padding: 1vh;
}

.Collapsible {
    border: 2px solid #939597;
    border-radius: 7px;
    transition-delay: 200;
    margin-top: 3px;
    margin-bottom: 3px;
}
